*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* we use inherit here to give all element headerr footer body the box sizing property then well change it after that like in body*/
}

html {
    font-size: 63%;
    /*we use percentage here cuz user also changes the font size like in zooming, but setting px will restrict user freedom*/
}
